@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Outfit:wght@400;700&display=swap');

body {
    font-family: 'kumbh sans', sans-serif;
    background: var(--primary-light);
    max-height: 100vh;
    font-size: 18px;
    overflow: hidden;
    position: relative;
}

body::after {
    content: url("../image/bg-pattern-bottom.svg");
    position: absolute; 
    right: -10%;
    bottom: -90%;   
}

body::before {
    content: url("../image/bg-pattern-top.svg");
    position: absolute; 
    left: -15%;
    top: -80%;   
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    width: 350px;
    height: 375px;
    margin: 20px;
    border-radius: 15px;
    gap: 25px;
    background: url(../image/bg-pattern-card.svg) top no-repeat;
    background-color: aliceblue;
    z-index: 1;
}

.cartao .perfil {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.cartao img {
    width: 96px;
    height: 96px;
    margin-top: 80px;
    border: 2px solid white;
    border-radius: 50%;
}

.numeros {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    border-top: 1px groove gainsboro;
}

.cidade {
    font-size: 15px;
}

.contador {
    padding-bottom: 4px;
}

.tipo-contador {
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}

.numeros .info .contador,
.cartao .perfil p {
    font-weight: bold;
    text-align: center;
}

.cartao .perfil .idade,
.cartao .perfil .cidade,
.numeros .info .tipo-contador {
    color: var(--neutral-light);
}

